---
layout: default
---
<div class="template-home">
    <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=gray" target="_blank"><img src="{{ "img/mlh-trust-badge.svg" | prepend: site.baseurl }}" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

    <section id="home" class="section-top row">
        <div class="medium-12 columns inner">
            <div class="main-text">
                <h1 class="title">HackPrinceton</h1>

                <div class="subtext">
                    <h2 class="date">March 31 - April 2, 2017</h2>
                    <p>
                    Learn, build, and explore software and hardware with 600 
                    <br>
                    fellow students at Princeton's premier hackathon.
                    </p>
                </div>

                <div class="followthrough">
                    <div class="js-show-if-logged-in hide">
                        <!-- <a href="https://dayof.hackprinceton.com/" class="button">Dayof Site</a> -->
                        <a href="https://my.hackprinceton.com/dashboard" class="button"><i class="fa fa-user"></i>&nbsp;&nbsp;My Dashboard</a>
                        <a href="https://my.hackprinceton.com/logout" class="secondary button">Log Out</a>
                    </div>
                    <div class="js-show-if-logged-out">
                        <!-- <a href="https://dayof.hackprinceton.com/" class="button">Dayof Site</a> -->
                        <a href="https://my.hackprinceton.com/register" class="button">Apply Now</a>
                        <a href="https://my.hackprinceton.com/" class="secondary button">Login</a>
                    </div>
                    <p>First round applications close Friday, Sept 22.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section-about">
        <div class="row inner">
            <div class="medium-4 medium-offset-1 columns title-outer">
                <h2 class="title" id="about-title">About</h2>
            </div>
            <div class="medium-7 large-6 columns end text">
                <p>
                    For 36 hours on November 10 - 12, HackPrinceton will bring together 600 developers and designers from across the country to create incredible software and hardware projects. This semester at HackPrinceton, we will provide a warm and spirited atmosphere for you to build out brilliant, innovative, and wild ideas.
                </p>
                <p>
                    At HackPrinceton, you’ll meet fellow hackers, learn new technologies, and hone your skills alongside seasoned mentors. We'll have free food, swag, workshops, free food, mentorship, prizes, games, free food, and more. Don’t have a team, or even an idea? Don’t worry! We’ll give you the tools to build something incredible. 
                </p>
                <p>
                    Whether this will be your first or your twentieth hackathon &mdash; and whether you’re making your first mobile app or want to jump onboard the most developed hardware track in the country &mdash; we’d love to see you here!
                </p>
            </div>
        </div>
    </section>

    <section id="faq" class="section-faq">
        <div class="row">
            <div class="small-12 large-10 large-centered columns">
                <h2 class="title">FAQs</h2>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 large-10 large-centered columns text">
                <div class="faq-wrap">
                    <div class="faq-sizer"></div>
                    {% for faq in site.data.faq %}
                        <div class="faq" id="faq-text-{{ forloop.index }}" data-toggler=".expanded">
                            <h2 class="faq-title">
                                <a data-toggle="faq-text-{{ forloop.index }}">{{ faq.question }}</a>
                            </h2>
                            <div class="faq__content">{{ faq.answer }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="partners" class="section-sponsors">
        <div class="row">
            <div class="small-12 large-10 large-centered columns">
                <h2 class="title">Previous Partners</h2>

                <p class="potential-followthrough">
                    Interested in partnering with HackPrinceton?
                </p>
                <p class="potential-followthrough">
                    Send us a message at <a href="mailto:sponsor@hackprinceton.com">sponsor@hackprinceton.com</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-10 large-centered columns sponsors">
                {% for tier_hash in site.data.tiersorder %}
                {% assign tier_name = tier_hash["tier"] %}
                {% assign tier = site.data.tiers[tier_name] %}
                    <div class="sponsors-{{ tier_name }} sponsor-tier">
                        {% for sponsor in tier %}
                            <a href="{{ sponsor.Website }}" target="_blank">
                                <img src="{{ "img/sponsors" | prepend: site.baseurl }}/{{ sponsor.Logo }}" alt="{{ sponsor.Sponsor }}" />
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="sponsors-partners-text">Special thanks to:</div>
                <div class="sponsors-partners sponsor-tier">
                    {% for sponsor in site.data.partners %}
                        <a href="{{ sponsor.Website }}" target="_blank">
                            <img src="{{ "img/sponsors" | prepend: site.baseurl }}/{{ sponsor.Logo }}" alt="{{ sponsor.Sponsor }}" />
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
    