<nav class="fixed-top full-width">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
        <a href="#home"><img src="{{ "img/logo.svg" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></a>
        <div class="float-right">
            <div class="title-bar-title" data-toggle="main-menu">Menu</div>
            <button class="menu-icon" type="button" data-toggle="main-menu"></button>
        </div>
    </div>

    <div id="main-menu" class="top-bar">
        <div class="row columns">
            <div class="top-bar-title show-for-large">
                <a href="/"><img src="img/logo.svg"></a>
            </div>

            <div class="top-bar-left">
                <ul class="vertical large-horizontal dropdown menu" data-dropdown-menu>
                    {% for item in site.data.pages %}
                        <li class="{% if page.url contains item.url %}current{% endif %}">
                            <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                            {% if item.children %}
                                <ul class="menu">
                                  {% for child in item.children %}
                                    <li>
                                        <a href="{{ child.url }}" alt="{{ child.title }}"
                                           class="{% if page.url contains item.url %}current{% endif %}">
                                            {{ child.title }}
                                        </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="top-bar-right">
                <ul class="js-show-if-logged-in hide vertical large-horizontal menu">
                    <li><a href="https://my.hackprinceton.com/dashboard"><i class="fa fa-user"></i>&nbsp;&nbsp;My Dashboard</a></li>
                    <li><a href="https://my.hackprinceton.com/logout">Log Out</a></li>
                </ul>
                <ul class="js-show-if-logged-out vertical large-horizontal menu">
                    <li><a href="https://my.hackprinceton.com/register"><span class="home-section-title-emphasis">Apply Now</span></a></li>
                    <li><a href="https://my.hackprinceton.com/">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
