@import 'settings';
@import 'hp-mixins';

body {
  padding-top: $topbar-height; // Add space for fixed topbar
}

// Pin this element to the top of the viewport
.fixed-top {
  position: fixed;
  top: 0;
  z-index: 1000;
}

a {
  @include animate-fade(color);
}

p {
  @include breakpoint(small only) {
    font-size: .9rem;
  }
}

.full-width {
  width: 100%;
}
