// This is the base SCSS file that all other SCSS files should import from.
@import 'settings';
@import 'hp-mixins';
@import 'foundation/foundation';


@include foundation-everything;

a {
  @include animate-fade(color);
}

p {
  @include breakpoint(small only) {
    font-size: .9rem;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.dg {
  z-index: 10000 !important;
}

.modal-small-size {
  max-width: 500px;

  @include breakpoint(small only) {
    max-width: none;
  }
}

.pre-line {
  white-space: pre-line;
}

.full-width {
  width: 100%;
}

.bg-white {
  background-color: white;
}

.text-light {
  color: white;
}

.inline-medium-up {
  @include breakpoint(medium) {
    display: inline;
  }
}

// {{ Reactive Table }}
// Styling fixes for Foundation
.reactive-table-options {
  &.col-sm-8, .col-sm-8 {
    @extend .small-8;
    @extend .columns;
  }
  &.pull-right {
    float: right;
    margin-right: 0;
  }
  .pull-right {
    float: right;
    padding-right: 0;
  }
}
.reactive-table {
  @extend .small-12;
  @extend .columns;
}
.reactive-table-navigation {
  .form-inline {
    input, label {
      display: inline-block;
    }
  }
}

button, a.button, .button {
  @include font-subheading;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.loading:before {
    // .fa
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // .fa-circle-o-notch
    content: '\f1ce';

    // .fa-spin
    animation: fa-spin 2s infinite linear;

    // adjust positioning
    letter-spacing: normal;
    margin-right: 10px;
  }
}


// {{ Forms }}

form {
  .error {
    input {
      margin-bottom: 0;
    }

    .error {
      color: get-color(alert);
    }
  }
}

.selectize-input {
  border-radius: 0;
  box-shadow: none;
  display: block !important;

  // Based on https://github.com/zurb/foundation-sites/blob/v5.5.3/scss/foundation/components/_forms.scss#L129
  padding: $form-spacing / 2;

  input {
    height: auto !important;
  }
}

.selectize-control {
  // Based on https://github.com/zurb/foundation-sites/blob/v5.5.3/scss/foundation/components/_forms.scss#L129
  margin: 0 0 $form-spacing 0;

  // Hack to remove spacing between this control and an error message
  .error & {
    margin-bottom: 0;
  }
}

.selectize-control .selectize-dropdown {
  box-shadow: none;
}

.selectize-control .selectize-dropdown .active {
  background-color: $hp-pink-2;
}

.selectize-control .selectize-input.dropdown-active {
  border-radius: $global-radius $global-radius 0 0;
}

.selectize-control.multi .selectize-input.has-items {
  padding: $form-spacing / 2;
}

.selectize-control.multi .selectize-input [data-value] {
  background: $hp-dark-gray;
  border: 0;
  text-shadow: none;

  &.active {
    color: $black;
    background: $hp-pink-2;
    border-color: $hp-pink-2;
  }
}

.card {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border-radius: $global-radius;
  border: none;
  background-color: white;
  @include animate-fade(border-color);

  &:hover {
    border-color: #ccc;
  }
}

fieldset {
  @extend .card;

  legend {
    @include font-subheading;
    margin-bottom: 2.25rem;
    position: relative;
    top: 2.25rem;

    .fade {
      font-weight: normal;
    }
  }

  //> input[type='checkbox']:first-child {
  //  margin-right: 1rem;
  //}

  >, > *:last-child {
    .button, input[type], textarea, select:hover, .selectize-control, p, label {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

label input[type='checkbox'][data-schema-key] {
  margin-right: 3px;
}

.selectize-control.single .selectize-input,
.selectize-control.multi .selectize-input {
  background: $input-background;
  border: $input-border;
  box-shadow: none;
}
