@import 'hp-styles/settings';
@import 'hp-styles/mixins';

.template-home {
  position: relative;

  @include breakpoint(large) {
    background-image: url('../img/tree-desktop.svg');
    background-repeat: no-repeat;
    background-size: 80vw;
    background-position: 0 10vmin;

    @media (min-aspect-ratio: 3/2) {
      background-size: 60vw;
      background-position-y: 20vmin
    }
  }

  #mlh-trust-badge {
    display: block;
    max-width: 65px;
    min-width: 50px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 10%;

    @include breakpoint(medium) {
      right: 30px;
    }

    img {
      width: 100%;
    }
  }

  section {
    padding-top: 3.5em;

    .title {
      color: $hp-brown-2;
      font-size: 2em;

      @include breakpoint(medium) {
        font-size: 2.5em;
        text-align: left;
      }
    }

    p {
      @include breakpoint(small only) {
        text-align: justify;
      }
    }
  }

  .section-top {
    background-image: url('../img/tree-mobile.svg');
    background-position: 0 calc(15% + #{$topbar-height});
    background-repeat: no-repeat;
    background-size: 95vw;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(medium) {
      background-size: 75vw;
      background-position-y: calc(10% + #{$topbar-height});
    }

    @include breakpoint(large) {
      background: none;
    }

    @include breakpoint(xxlarge) {
      margin: 0;
      max-width: unset;
    }

    .inner {
      @include full-height;

      // minimum height of the section
      height: 130vw;
      position: relative;

      @include breakpoint(medium) {
        height: unset;

        @media (max-aspect-ratio: 1/1) {
          min-height: 80vh;
        }
      }
    }

    .main-text {
      color: $hp-brown-1;
      position: absolute;
      top: 60%;

      @include breakpoint(medium) {
        text-align: right;
        top: calc(10% + 55vw);
        right: rem-calc(30); // align with mlh badge
      }

      @include breakpoint(large) {
        top: unset;
        bottom: 0;

        @media (max-aspect-ratio: 1/1) {
          top: calc(10% + 55vw);
        }
      }

      @include breakpoint(xxlarge) {
        right: 5vw;

        @media (min-aspect-ratio: 3/2) {
          top: 40%;
          right: 10vw;
        }
      }

      .title {
        color: $hp-orange-1;
        font-family: $header-font-family;
        font-size: 16vw;
        line-height: 1;
        margin-bottom: 0;


        @include breakpoint(medium) {
          font-size: rem-calc(90);
          text-align: right;
        }

        @include breakpoint(xxlarge) {
          font-size: 5.5vw;
        }
      }

      .subtext {
        margin-bottom: 1rem;

        .date {
          font-size: 6.5vw;
          margin-bottom: 0;

          @include breakpoint(medium) {
            font-size: 2rem;
          }

          @include breakpoint(xxlarge) {
            font-size: 2.5vw;
          }
        }

        .info {
          font-size: 1.25rem;
          margin-top: 0;
        }
      }

      .app-message-mobile {
        @include hide-for(medium);
      }

      .app-message-desktop {
        @include show-for(medium);
      }

      .followthrough {
        margin-top: 2em;

        @include breakpoint(medium) {
          margin-top: 0;
        }
      }
    }
  }

  .section-about {
    background-image: url('../img/leaves-horz.svg');
    background-attachment: scroll;
    background-position: center 5rem;
    background-repeat: no-repeat;
    background-size: 90vw;

    @include breakpoint(medium) {
      background-position: 15% calc(10% + #{$topbar-height});
      background-size: 70vw;
    }

    @include breakpoint(large) {
      background-position: 0 5vw;
    }

    @include breakpoint(xlarge) {
      background-position-y: 0;
    }

    .inner {
      padding-top: rem-calc(30);

      @include breakpoint(large) {
        padding-top: 0;
      }
    }

    .title-outer {
      @include breakpoint(medium) {
        height: 100%;
        margin-bottom: 0;
      }
    }

    .title {
      margin-top: 5vw;
      @include breakpoint(medium) {
        margin-top: 10vh;
      }
    }

    .text {
      padding-top: 40vw;

      @include breakpoint(large) {
        padding-top: 20vw;
      }
    }
  }

  .section-faq {
    background-image: url('../img/tree-2-mobile.svg');
    background-attachment: scroll;
    background-position: 0 5rem;
    background-repeat: no-repeat;
    background-size: 95vw;
    padding-bottom: 3rem;

    @include breakpoint(medium) {
      background: none;
    }

    a {
      &:hover {
        color: scale-color($hp-orange-2, $lightness: -14%);
      }
    }

    .title {
      @include breakpoint(medium) {
        margin-bottom: 0.5em;
      }

      @include breakpoint(medium only) {
        // faqs are spaced 50px, gutter is 20px
        margin-left: 30px;
      }
    }

    .faq-wrap {
      @include breakpoint(medium) {
        background-image: url('../img/leaves-vert.svg');
        background-position: 50% calc(50% + #{$topbar-height});
        background-repeat: no-repeat space;
        background-size: 40px;
      }

      @include breakpoint(medium only) {
        // hack to fix layout issue on medium screens
        // where the faqs is wider than the viewport
        margin-left: -20px;
        margin-right: -10px;
      }

      @include breakpoint(large) {
        margin-left: -50px;
        margin-right: -50px;
      }
    }

    .faq,
    .faq-sizer {
      box-sizing: border-box;
      padding: 0;
      width: auto;

      @include breakpoint(medium) {
        padding-left: 50px;
        padding-right: 50px;
        width: 50%;
      }

      a {
        color: $hp-brown-2;
      }

      .faq-title {
        font-size: 1.25rem;

        & > a {
          color: $black;
          cursor: text;
        }
      }

      .faq__content {
        margin-bottom: 1rem;
        line-height: 1.6;

        ul {
          margin-top: 1rem;
        }
      }

      @include breakpoint(small only) {
        .faq__content {
          max-height: 0;
          overflow-y: hidden;
          transition: height .2s ease-out;
        }

        &.expanded .faq__content {
          max-height: 500vh;
        }

        .faq-title {
          & > a {
            cursor: pointer;

            &::after {
              content: '〉';
              display: inline-block;
              font-size: .75rem;
              margin-left: .75em;
              position: relative;
              top: -.125em;
              transition: transform 0.2s ease-out;
            }
          }
        }

        &.expanded .faq-title {
          & > a {
            &::after {
              transform: rotate(.25turn);
            }
          }
        }
      }
    }
  }

  .section-sponsors {
    background-color: $white;
    text-align: center;

    .title,
    .potential-followthrough {
      text-align: left;
    }

    .description {
      margin-bottom: 3.5em;
    }

    .sponsors-partners-text {
      font-size: 2em;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }

    .sponsors {
      background-color: $white;
      box-sizing: border-box;
      margin: 0 auto;
      padding-bottom: .5em;
      padding-top: .5em;

      a {
        box-sizing: content-box;
        display: inline-block;
        padding: 30px;
        vertical-align: middle;
        width: 70%;

        @include breakpoint(large) {
          padding: rem-calc(40);
        }

        img {
          border: 0;
          display: block;
          width: 100%;
        }
      }

      .sponsor-tier:not(:last-child) {
        border-bottom: 1px solid $hp-brown-1;
      }

      .sponsors-title > a {
        max-width: 320px;
      }

      .sponsors-platinum > a {
        max-width: 340px;
      }

      .sponsors-gold > a {
        max-width: 230px;
      }

      .sponsors-silver > a {
        max-width: 160px;
      }

      .sponsors-bronze > a {
        max-width: 140px;
      }

      .sponsors-partners > a {
        max-width: 100px;
        padding: 25px;
      }
    }
  }
}
