@import 'hp-styles/settings';
@import 'hp-styles/mixins';

// force element have the correct top bar height
@mixin topbar-height {
  line-height: $topbar-height;
  padding-bottom: 0;
  padding-top: 0;
}

p {
  letter-spacing: 0.02em;
}

// Prevent FOUC of top bar while loading
// http://foundation.zurb.com/sites/docs/responsive-navigation.html
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title-bar {
    @include topbar-height;
    background-color: $hp-brown-2;

    img {
      height: 30px;
    }
  }

  .title-bar-title {
    letter-spacing: .05em;
  }

  .top-bar {
    padding: 0;

    img {
      height: 30px;
    }

    .top-bar-title {
      @include topbar-height;
    }

    .columns {
      padding-right: 0;
    }

    .menu {
      li {
        @include animate-fade(background-color);

        > a {
          @include font-heading;
          color: $hp-orange-1;
          line-height: 2.25rem;

          @include breakpoint(medium) {
            @include topbar-height;
          }
        }

        &:hover {
          background-color: $hp-orange-1;

          > a {
            color: $hp-brown-1;
          }
        }
      }
    }
  }

  .main-content {
    flex-grow: 1;
  }
}

.footer {
  background-color: $hp-brown-2;
  color: $white;
  padding: 30px 0;
  text-align: center;
  width: 100%;

  .footer-text {
    @include font-subheading;
    line-height: 1.8;

    a {
      color: $hp-orange-1;
    }

    &-fade {
      color: $hp-orange-1;
      font-size: .6rem;

      @include breakpoint(medium) {
        font-size: .8rem;
      }
    }
  }

  .footer-link {
    font-size: 1.2rem;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }

    @include breakpoint(medium) {
      font-size: 1.5rem;
    }
  }

}