@import 'hp-styles/settings';
@import 'hp-styles/mixins';

.template-travel {
  padding-bottom: 2em;
  padding-top: 2em;

  .google-maps {
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    padding-bottom: 40%; // This is the aspect ratio
    position: relative;

    iframe {
      height: 100% !important;
      left: 0;
      position: absolute;
      top: 0;
      width: 100% !important;
    }
  }
}
